body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-image: url("background-new.jpeg");
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo{
    margin-left: -20px;
}

.top-bar-right-class{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    color: #00DF91;
    font-weight: bold;
}

.top-bar-element{
    margin: 0px 10px;
    padding: 10px 5px;
}

#top-btn{
    background-color: #C3E3DE;;
    padding: 10px 30px;
    border-radius: 3px;
}

.main{
    font-size: 13px;
    margin-top: 60px;
}

#heading{
    font-size: 32px;
}

#lastpara{
    margin-top: -5px;
}

.input-feilds{
    display: flex;
    margin: 0px auto 12px;
    flex-direction: column;
    align-items: center;
    ::placeholder {
        text-indent: 15px;
     }
}

.common-input-feild{
    margin: 8px 0;
    height: 50px;
    width: 400px;
    border: 1px solid white;
    background-color: #FFFFFF(255, 0, 0);
    border-radius: 5px;
    text-align: left;
}

#typo1{
    margin-top: -1px;
}

#lasttypo{
    border: none;
    height: 130px;
    width: 400px;
    ::placeholder {
        padding-top: 10px
     }
}

#btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn {
    margin: 8px 2px 0;
    background: #00DF91;
    border: 2px solid #26CB8F;
    padding: 5px 60px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.btn-anc {
    margin: 8px 2px 0;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}
